@charset "UTF-8";
* {font-family: Arial, Helvetica, sans-serif;
   /* height:  100%;*/}
body {background-image: linear-gradient(to right, #00E3CC, #32A89C);}
main {background-color: white;
      width: 600px;
      padding: 10px;
      margin: auto;
      border-radius: 20px;
      box-shadow: 10px 10px 10px coral;
     }
p { text-align: justify;}
h1 {
  color: #B4CF66;
  text-shadow: 1px 1px 1px blue;
}
h2 {
color: blueviolet;
}